[submodule "libs/sdl2-2.24.2"]
	path = libs/sdl2-2.24.2
	url = https://github.com/libsdl-org/SDL.git
[submodule "libs/sdl-image-2.6.2"]
	path = libs/sdl-image-2.6.2
	url = https://github.com/libsdl-org/SDL_image.git
