[submodule "external/sdl-image-2.6.2"]
	path = external/sdl-image-2.6.2
	url = https://github.com/libsdl-org/SDL_image.git
[submodule "external/sdl-mixer-2.6.2"]
	path = external/sdl-mixer-2.6.2
	url = https://github.com/libsdl-org/SDL_mixer.git
[submodule "external/sdl-ttf-2.20.1"]
	path = external/sdl-ttf-2.20.1
	url = https://github.com/libsdl-org/SDL_ttf.git
[submodule "external/sdl-2.24.2"]
	path = external/sdl-2.24.2
	url = https://github.com/libsdl-org/SDL.git
